USE [master]
GO
/****** Object:  Database [Statcioni i autobusave]    Script Date: 18/04/2020 15:24:31 ******/
CREATE DATABASE [Statcioni i autobusave]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Statcioni i autobusave', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\Statcioni i autobusave.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Statcioni i autobusave_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL\MSSQL\DATA\Statcioni i autobusave_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Statcioni i autobusave].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Statcioni i autobusave]
GO
/****** Object:  Table [dbo].[Autobusi]    Script Date: 18/04/2020 15:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autobusi](
	[AutobusiID] [int] NOT NULL,
	[Kapaciteti] [int] NOT NULL,
	[EmriIKompanise] [varchar](50) NOT NULL,
	[InsertedBy] [varchar](50) NOT NULL,
	[InsertedDate] [date] NOT NULL,
	[LUB] [varchar](50) NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK_Autobusi] PRIMARY KEY CLUSTERED 
(
	[AutobusiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bileta]    Script Date: 18/04/2020 15:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bileta](
	[BiletaID] [int] IDENTITY(1,1) NOT NULL,
	[AutobusiID] [int] NULL,
	[PuntoriID] [int] NULL,
	[Cmimi] [money] NULL,
	[KohaMberritjes] [varchar](50) NULL,
	[KohaNisjes] [varchar](50) NULL,
	[NumriKontaktues] [varchar](50) NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [date] NOT NULL,
	[UpdateBy] [varchar](50) NOT NULL,
	[UpdateDate] [date] NOT NULL,
	[UpdateNo] [int] NOT NULL,
 CONSTRAINT [PK_Bileta] PRIMARY KEY CLUSTERED 
(
	[BiletaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Puntori]    Script Date: 18/04/2020 15:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Puntori](
	[PuntoriID] [int] IDENTITY(1,1) NOT NULL,
	[Emri] [varchar](50) NOT NULL,
	[Mbiemri] [varchar](50) NOT NULL,
	[Datlindja] [date] NOT NULL,
	[Shtetsia] [varchar](50) NOT NULL,
	[RezervimetID] [int] NOT NULL,
	[InsertBy] [varchar](50) NOT NULL,
	[InsertDate] [date] NOT NULL,
	[LUB] [varchar](50) NOT NULL,
	[LUD] [date] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK_Puntori] PRIMARY KEY CLUSTERED 
(
	[PuntoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rezervimet]    Script Date: 18/04/2020 15:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervimet](
	[RezervimetID] [int] NOT NULL,
	[BiletaID] [int] NOT NULL,
 CONSTRAINT [PK_Rezervimet] PRIMARY KEY CLUSTERED 
(
	[RezervimetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 18/04/2020 15:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [datetime] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/04/2020 15:24:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UsersID] [int] NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserPass] [varchar](50) NOT NULL,
	[ExpiresDate] [datetime] NOT NULL,
	[RoleID] [int] NOT NULL,
	[InsertBy] [int] NOT NULL,
	[InsertDate] [datetime] NOT NULL,
	[LUB] [int] NOT NULL,
	[LUD] [datetime] NOT NULL,
	[LUN] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UsersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Bileta]  WITH CHECK ADD  CONSTRAINT [FK_Bileta_Autobusi] FOREIGN KEY([AutobusiID])
REFERENCES [dbo].[Autobusi] ([AutobusiID])
GO
ALTER TABLE [dbo].[Bileta] CHECK CONSTRAINT [FK_Bileta_Autobusi]
GO
ALTER TABLE [dbo].[Bileta]  WITH CHECK ADD  CONSTRAINT [FK_Bileta_Puntori] FOREIGN KEY([PuntoriID])
REFERENCES [dbo].[Puntori] ([PuntoriID])
GO
ALTER TABLE [dbo].[Bileta] CHECK CONSTRAINT [FK_Bileta_Puntori]
GO
ALTER TABLE [dbo].[Puntori]  WITH CHECK ADD  CONSTRAINT [FK_Puntori_Rezervimet] FOREIGN KEY([RezervimetID])
REFERENCES [dbo].[Rezervimet] ([RezervimetID])
GO
ALTER TABLE [dbo].[Puntori] CHECK CONSTRAINT [FK_Puntori_Rezervimet]
GO
ALTER TABLE [dbo].[Rezervimet]  WITH CHECK ADD  CONSTRAINT [FK_Rezervimet_Bileta] FOREIGN KEY([BiletaID])
REFERENCES [dbo].[Bileta] ([BiletaID])
GO
ALTER TABLE [dbo].[Rezervimet] CHECK CONSTRAINT [FK_Rezervimet_Bileta]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users1] FOREIGN KEY([UsersID])
REFERENCES [dbo].[Users] ([UsersID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users1]
GO
USE [master]
GO
